---
layout: handbook-page-toc
title: EM role explained for Senior Engineers
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}


## Engineering manager role explained

### Introduction

The goal of this page is to provide bite-sized materials for Engineers who are interested in the
Engineering Manager role. 

### An IC's guide to managerial work

A short article about [What does your manager do all day? What would it mean to become one?](work_of_a_manager.html).

### [Videos](https://youtube.com/playlist?list=PL05JrBw4t0KqbOjpY5aZgIQayjguEajWd)

In the videos below different team members explained intricacies of the EM role, specifically
from the perspective of the Engineer and transitioning from the Individual Contributor track to the Management track. 

All videos are also available in the audio format [here](https://drive.google.com/drive/folders/1hrayHgzZpzrCd3zC1RrKEFXl3kaheWoK?usp=share_link
). 

#### Michelle

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/4TzP1R3dfSk" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

#### Jarka

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/U91ulREoqQE" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

#### Brandon

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/m3w9JMqOQVM" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

#### Nicolas - Transitioning from EM to IC

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/Um4-C2RC0uo" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->
